{{ $core     := resources.Get "js/map-core.js"      | resources.Minify | resources.Fingerprint }}
{{ $controls := resources.Get "js/map-controls.js"  | resources.Minify | resources.Fingerprint }}
{{ $bases    := resources.Get "js/map-basemaps.js"  | resources.Minify | resources.Fingerprint }}
{{ $init     := resources.Get "js/map-init.js"      | resources.Minify | resources.Fingerprint }}

<script src="{{ $core.RelPermalink }}"></script>
<script src="{{ $controls.RelPermalink }}"></script>
<script src="{{ $bases.RelPermalink }}"></script>
<script src="{{ $init.RelPermalink }}"></script>
