{{/* Carico gli asset JS senza minify. Uso cache-buster passato dal baseof. */}}
{{ $core     := resources.Get "js/map-core.js" }}
{{ $controls := resources.Get "js/map-controls.js" }}
{{ $bases    := resources.Get "js/map-basemaps.js" }}
{{ $init     := resources.Get "js/map-init.js" }}

<script src="{{ $core.RelPermalink }}?v={{ .v }}"></script>
<script src="{{ $controls.RelPermalink }}?v={{ .v }}"></script>
<script src="{{ $bases.RelPermalink }}?v={{ .v }}"></script>
<script src="{{ $init.RelPermalink }}?v={{ .v }}"></script>
