<!doctype html>
<html lang="it">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" href="https://massimilianomoraca.me/static/images/logo.webp" type="image/webp">
  <title>{{ .Title }} · {{ site.Title }}</title>

  <!-- OpenLayers CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol/ol.css">

  <!-- Stili locali -->
  {{ $mapcss := resources.Get "css/map.css" }}
  <link rel="stylesheet" href="{{ $mapcss.RelPermalink }}">
</head>
<body>
  {{ block "main" . }}{{ end }}

  <!-- OpenLayers JS -->
  <script src="https://cdn.jsdelivr.net/npm/ol/dist/ol.js"></script>

  <!-- Script locali (no minify) con cache-buster -->
  {{ $v := now.Unix }}
  {{ partial "map/scripts.html" (dict "ctx" . "v" $v) }}
</body>
</html>
